rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /families/{familyId} {
      allow read, write: if isSignedIn();
    }

    match /families/{familyId}/{document=**} {
      allow read, write: if isSignedIn();
    }

    match /content/{document=**} {
      allow read: if isSignedIn();
      allow write: if false;
    }
  }
}
